
.rotateimg90 {
  -webkit-transform:rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  overflow: invisible;
}

.crop {
  position: absolute;
  clip: rect(100px,1000px,100px,0px);

}
